.car-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 10px;

  /* width: 325px;
  height: 267px; */

  background: #ffffff;
  border-radius: 16px;
}

.car-item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 21px;
  width: 100%;
  /* height: 219px; */
  height: 100%;
}

.car-item-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 100%;
}

.car-item-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 36px;
  width: 100%;
}

.car-item-top p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  color: #72767c;
}

.car-item-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 81px;
  width: 100%;
  justify-content: space-between;
}
.car-item-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 18px;
}

.car-item-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
}

.car-item-price {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #242731;
}
